body{
    background-color: orange;
}
.path{
    border-bottom: 6px dashed black;
}
.runner{
    background: url("ClipartKey_723196.png");
    width: 1500px;
    height: 330px;
    animation: walk 1s steps(12) infinite, forwards 5s linear infinite;

}
@keyframes walk{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 300px;
    }
}
@keyframes forward{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(1200px);
    }
}